@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@import './shade';

/* @source '../node_modules/@skeletonlabs/skeleton-svelte/dist'; */

/*** GLOBAL ***/

/* global  elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
label {
	@apply font-normal text-white;
	font-family: 'futura-pt', serif;
}

h1 {
	@apply text-3xl md:text-4xl;
	font-family: 'acumin-pro-extra-condensed';
}
h2 {
	@apply pb-2 text-2xl md:text-3xl;
	font-family: 'acumin-pro-extra-condensed';
}

a {
	@apply bg-gradient-to-r from-neutral-100 to-zinc-400 bg-clip-text font-bold text-transparent hover:cursor-pointer hover:text-zinc-400;
	font-family: 'futura-pt', serif;
}

/* global  general classes */

h1.hero-hl {
	@apply text-6xl sm:text-7xl lg:text-8xl;
	font-family: 'acumin-pro-extra-condensed';
}

.acumin {
	font-family: 'acumin-pro-extra-condensed' !important;
}

.noise {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");

	mix-blend-mode: soft-light;
	z-index: 0;
	pointer-events: none;
}

.noise-gallery-bg {
	background:
		linear-gradient(rgba(248, 250, 252, 0.7), rgba(248, 250, 252, 0.75)),
		url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
	background-blend-mode: soft-light;
}

.flash-gallery-grid {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (min-width: 640px) {
	/* sm */
	.flash-gallery-grid {
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}

@media (min-width: 768px) {
	/* md */
	.flash-gallery-grid {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
}

@media (min-width: 1024px) {
	/* lg */
	.flash-gallery-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
.site-wrapper {
	@apply mx-auto max-w-[1300px] p-2 sm:p-4;
}

/* global gallert and lightbox */
.svelte-lightbox-header button {
	@apply text-2xl text-neutral-500;
}

.svelte-lightbox-header button:hover {
	@apply !text-neutral-700;
}

.svelte-lightbox-header button {
	@apply !text-3xl !text-neutral-500;
}

.svelte-lightbox-header button:hover {
	@apply text-neutral-700;
}

.svelte-lightbox-overlay img {
	@apply mx-auto max-h-[70vh] object-contain;
}

.svelte-lightbox-footer h1,
h2 {
	@apply pt-2 font-bold;
}

.svelte-lightbox-footer p {
	@apply hidden;
}

.svelte-lightbox-footer h1,
.svelte-lightbox-footer h2,
.svelte-lightbox-footer h3,
.svelte-lightbox-footer h4,
.svelte-lightbox-footer h5 {
	@apply text-center;
}

.svelte-lightbox-header {
	@apply hidden;
}

.next-button,
.previous-button {
	@apply !hidden;
}

/* individual pages */

section.page-section {
	@apply flex flex-col gap-4 rounded-sm px-4 md:gap-4;
}
