@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './shade-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/*** GLOBAL ***/

/* global  elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	@apply font-normal text-white;
	font-family: 'futura-pt', sans-serif;
}

h1 {
	@apply text-2xl sm:text-3xl lg:text-4xl;
	font-family: 'acumin-pro-extra-condensed';
}
h2 {
	@apply pb-2 text-xl sm:text-2xl lg:text-3xl;
	font-family: 'acumin-pro-extra-condensed';
}

a {
	@apply bg-gradient-to-r from-neutral-100 to-zinc-400 bg-clip-text font-bold text-transparent hover:cursor-pointer hover:text-zinc-400;
	font-family: 'futura-pt', sans-serif;
}

/* global  general classes */

h1.hero-hl {
	@apply text-6xl sm:text-7xl lg:text-8xl;
	font-family: 'acumin-pro-extra-condensed';
}

.acumin {
	font-family: 'acumin-pro-extra-condensed' !important;
}

.noise {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");

	mix-blend-mode: soft-light;
	z-index: 0;
	pointer-events: none;
}

.site-wrapper {
	@apply mx-auto max-w-[1300px] py-3;
}

/* global gallert and lightbox */
.svelte-lightbox-header button {
	@apply text-2xl text-neutral-500;
}

.svelte-lightbox-header button:hover {
	@apply !text-neutral-700;
}

.svelte-lightbox-header button {
	@apply !text-3xl !text-neutral-500;
}

.svelte-lightbox-header button:hover {
	@apply text-neutral-700;
}

.svelte-lightbox-overlay img {
	@apply mx-auto max-h-[70vh] object-contain;
}

.svelte-lightbox-footer h1,
h2 {
	@apply pt-2 font-bold;
}

.svelte-lightbox-footer p {
	@apply hidden;
}

.svelte-lightbox-footer h1,
.svelte-lightbox-footer h2,
.svelte-lightbox-footer h3,
.svelte-lightbox-footer h4,
.svelte-lightbox-footer h5 {
	@apply text-center;
}

.svelte-lightbox-header {
	@apply hidden;
}

.next-button,
.previous-button {
	@apply !hidden;
}

/* individual pages */

section.page-section {
	@apply flex flex-col gap-2 rounded-sm py-4 md:gap-4;
}
